<div class="row">
  <div class="col m12 ">
    <h1>Need Music?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nihil quis sunt placeat ea. Vero quis, temporibus, atque
      alias ratione ea aliquam suscipit quibusdam quaerat eveniet, aperiam consequuntur necessitatibus veniam?</p>
    <form>
      <div class="input-field">
        <input id="search" type="search" placeholder="Search Artists..." [(ngModel)]="searchStr" name="searchStr" (keyup)="searchMusic()"
          required>
          <label class=" label-icon " for="search "><i class="material-icons ">search</i></label>
          <i class="material-icons ">close</i>
      </div>
    </form>
  </div>
</div>
<div *ngFor="let artist of searchRes">
  <div class="row">
    <div class="col m12">
      <div class="card horizontal">
        <div class="card-image">
        </div>
        <div class="card-stacked">
          <span class="card-title"><a routerLink="/artist/{{artist.id}}">{{artist.name}}</a></span>
          <div>
            <strong>Genres: </strong>
            <span *ngFor="let genre of artist.genres">{{genre}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
